.btn-outline-orange{
    background-color: #ecac36;
    color: #ffffff;
    border-radius: 5px;
}
.btn-outline-blue:hover{
    background-color: #ffffff;
    color: #ecac36;
    border: 2px solid #ecac36;
}
